@model ProductIndexViewModel
@{
    ViewData["Title"] = "Product Catalog";
}

<a asp-action="Create" >Create Product</a>

<h1>All available products</h1>

@await  Html.PartialAsync("_ProductList", Model.Products)

<ul class="pagination">
    @*Previous*@
    @if (1 == Model.CurrPage) {
        <li class="page-item active">
            <span class="page-link">Previous</span>
        </li>
    }
    else {
        int previousPage = Model.CurrPage - 1;
        <li class="page-item">
            <a class="page-link" asp-action="Index" asp-route-id="@previousPage">Previous</a>
        </li>
    }

    @*All Pages*@
    @for (int a = 1; a <= Model.MaxPage; a++) {
        if (a == Model.CurrPage) {
            <li class="page-item active">
                <span class="page-link">@a</span>
            </li>
        }
        else {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-id="@a">@a</a>
            </li>
        }
    }

    @*Next*@
    @if (Model.CurrPage == Model.MaxPage) {
        <li class="page-item active">
            <span class="page-link">Next</span>
        </li>
    }
    else {
        int nextPage = Model.CurrPage + 1;
        <li class="page-item">
            <a class="page-link" asp-action="Index" asp-route-id="@nextPage">Next</a>
        </li>
    }
</ul>